input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

.functions {
	border-radius: 32px;
	background: #ffffff;
	width: 862px;
	margin: 24px 0 60px auto;
}

.functions_content {
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding: 8px 16px;
}

.functions__button {
	gap: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.functions__button-nav {
	display: flex;
	gap: 8px;
}

.functions__button-nav1 {
	display: flex;
	align-items: center;
	gap: 16px;
	margin: 0 auto 0 16px;
}

.function__block-font {
	position: relative;
	display: flex;
	align-items: center;
	border-radius: 4px;
	min-width: 190px;
	min-height: 30px;
}

.functions__img-arrow-up-font {
	position: absolute;
	right: 8px;
	background: #ffffff;
	pointer-events: none;
}

.functions__list {
	position: absolute;
	top: 35px;
	left: 0;
	width: 190px;
	padding: 0;
	z-index: 1;
}

.function__option {
	display: none;
}

.function__option li {
	padding: 8px;
	cursor: pointer;
}

.function__option:hover {
	background: #665dcf;
}

.functions__list.open .function__option {
	display: block;
}

.functions__list:focus {
	outline: none;
}

.function__option {
	background: #ffffff;
	width: 190px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.functions__button_forward {
	background: transparent
		url(../../../../images/IconsFunctionsText/functions__button_forward.svg)
		center center / cover no-repeat;
	border: none;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.functions__button_back {
	background: transparent
		url(../../../../images/IconsFunctionsText/functions__button_back.svg) center
		center / cover no-repeat;
	border: none;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.functions__button_delete {
	background: transparent
		url(../../../../images/IconsFunctionsText/functions__button_delete.svg)
		center center / cover no-repeat;
	border: none;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.functions__button_accept {
	background: transparent
		url(../../../../images/IconsFunctionsText/functions__button_check.svg)
		center center / cover no-repeat;
	border: none;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.functions__button_strikethrough {
	position: relative;
	border: none;
	border-radius: 4px;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.functions__img-strikethrough {
	position: absolute;
	top: 0;
	left: 0;
}

.functions__button_underline {
	position: relative;
	border: none;
	border-radius: 4px;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.functions__img-underline {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.functions__button_italic {
	position: relative;
	border: none;
	border-radius: 4px;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.functions__img-italic {
	position: absolute;
	top: 0;
	left: 0;
}

.functions__button_bold {
	position: relative;
	border: none;
	border-radius: 4px;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.functions__img-bold {
	position: absolute;
	top: 0;
	left: 0;
}

.functions__button_align-center {
	background: transparent
		url(../../../../images/IconsFunctionsText/functions__button_align-center.svg)
		center center / cover no-repeat;
	border: none;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.functions__button_color {
	border-radius: 5px;
	border: none;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.functions__block-color {
	position: absolute;
	top: 80px;
	z-index: 1;
}

.functions-quantity-block {
	display: flex;
	align-items: center;
	height: 28px;
}

.functions-quantity-block_arrow {
	display: flex;
	flex-direction: column;
	padding-left: 8px;
}

.functions__img-arrow-up {
	cursor: pointer;
	border: none;
	width: 24px;
	height: 16px;
	margin: 0 0 -2px 0;
}

.functions-quantity-arrow-down {
	cursor: pointer;
	border: none;
	width: 24px;
	height: 16px;
	margin: 0 0 -2px 0;
}

.functions-quantity-num {
	border-radius: 4px;
	border: 1px solid #2b2b2e;
	display: flex;
	width: 28px;
	height: 20px;
	padding: 4px 8px;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.42px;
	text-align: center;
}
