.text-panel {
	width: 288px;
}

.text-panel__block-button {
	display: flex;
	align-items: center;
	height: 40px;
	padding: 0 0 28px 0;
}

.text-panel__block-download {
	display: flex;
	flex-direction: column;
	gap: 24px;
	min-width: 288px;
}

.text-panel__button {
	background: none;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
}

.text-panel__button_active {
	border-bottom: 2px solid #c3beff;
}

.text-panel__block-result {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;

	text-align: center;
}

.text-panel__h1 {
	max-width: 236px;
	height: 38px;
	background: none;
	border-radius: 4px;
	border-color: transparent;
	border-width: 0;
	border-style: solid;
	cursor: pointer;
	color: #2b2b2e;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.38px;
	white-space: nowrap;
	padding: 0;
	transition: border-color 0.3s, border-style 0.3s;
}

.text-panel__h1:hover {
	padding: 0 15px;
	max-width: 100%;
	height: 38px;
	border-color: #665DCF;
	border-width: 2px;
	border-style: solid;
	color: #665DCF;
}

.text-panel__h1:not(:hover) {
	max-width: 100%;
	padding: 2px 15px;
	transition: border 0.3s;
	border-color: transparent;
}

.text-panel__h2 {
	max-width: 237px;
	height: 33px;
	background: none;
	border-radius: 4px;
	border-color: transparent;
	border-width: 0;
	border-style: solid;
	cursor: pointer;
	color: #2b2b2e;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.38px;
	white-space: nowrap;
	padding: 0;
	transition: border-color 0.3s, border-style 0.3s;
}

.text-panel__h2:hover {
	padding: 2px 15px;
	max-width: 100%;
	height: 33px;
	border-color: #665DCF;
	border-width: 2px;
	border-style: solid;
	color: #665DCF;
}

.text-panel__h2:not(:hover) {
	max-width: 100%;
	padding: 2px 15px;
	transition: border 0.3s;
	border-color: transparent;
}

.text-panel__paragraph {
	max-width: 236px;
	height: 28px;
	background: none;
	border-radius: 4px;
	border-color: transparent;
	border-width: 0;
	border-style: solid;
	cursor: pointer;
	color: #2b2b2e;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.42px;
	padding: 0;
	transition: border-color 0.3s, border-style 0.3s;
}

.text-panel__paragraph:hover {
	padding: 2px 45px;
	max-width: 100%;
	height: 28px;
	border-color: #665DCF;
	border-width: 2px;
	border-style: solid;
	color: #665DCF;
}

.text-panel__paragraph:not(:hover) {
	max-width: 100%;
	padding: 2px 45px;
	transition: border 0.3s;
	border-color: transparent;
}

.text-panel__download-font {
	max-width: 288px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
	gap: 8px;
	background: none;
	border-radius: 16px;
	border: 1px solid #665DCF;
	cursor: pointer;
	color: #665DCF;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	white-space: nowrap;
	padding: 12px 24px;
}

.text-panel__font-block {
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-width: 288px;
	height: auto;
}

.text-panel__wrapper {
	display: flex;
	justify-content: space-between;
	gap: 8px;
	padding: 12px 24px;
	background: rgba(195, 190, 255, 0.5);
	border-radius: 16px;
	border: 1px solid #2b2b2e;
}

.text-panel__paragraph-font {
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin: 0;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
}

.text-panel__trash-font {
	cursor: pointer;
}
