.properties {
    position: absolute;
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.properties__label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.properties__select,
.properties__input {
    padding: 5px;
}

.save-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.properties__label_signature {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.properties__input_font-size {
    width: 40px;
}

.properties__label_upload-certificate {
    display: flex;
    flex-direction: column;
}

.properties__span-text_upload-certificate {
    text-align: left;
}
