.certificate {
	position: relative;
	display: flex;
	max-width: 600px;
	max-height: 850px;
	margin: 0 auto 65px auto;
}
.certificate-main {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 0 10px;
	width: 862px;
}

.certificate__container {
	display: flex;
}

.certificate__image {
	max-width: 100%;
	height: auto;
}

.certificate__text-field {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	box-sizing: border-box;
	max-width: 100%;
	top: 50%;
	left: 50%;
}

.certificate__text-block {
	padding: 5px;
}

.certificate__text-block:hover .certificate__text-paragraph:hover {
	cursor:
		url(../../../images/IconsFunctionsText/certificate__cursor-text.svg) 8 8,
		auto;
}

.certificate__input {
	max-width: inherit;
	max-height: inherit;
	min-width: 209px;
	background: none;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
}

.certificate__text-paragraph {
	cursor: text;
	margin: 0;
	text-wrap: normal;
	overflow-wrap: anywhere;
}

.certificate__text-paragraph_active-border {
	border: solid 1px #000000;
}

.certificate__button-move {
	display: flex;
	justify-content: center;
	cursor: pointer;
	width: 24px;
	height: 24px;
	background: none;
	border: none;
}

.certificate__img-hand {
	pointer-events: none;
}
