.panel-container {
	border-right: 2px solid #959596;
	border-left: 2px solid #959596;
}

.sidebar {
	border-right: 1px solid #959596;
	max-width: 144px;
	display: flex;
}

.sidebar-navigate {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 24px;
}

.sidebar-navigate__items {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.sidebar-navigate__item {
	border-radius: 16px;
}

.sidebar-navigate__item_active {
	background: #c3beff;
}

.sidebar-navigate__button {
	width: 96px;
	height: 96px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: none;
	border-radius: 16px;
	border: 1px solid #2b2b2e;
	cursor: pointer;
}

.sidebar-navigate__button_no-active {
	width: 96px;
	height: 96px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: none;
	border-radius: 16px;
	border: 1px solid #959596;
	cursor: pointer;
	color: #959596;
}

.sidebar-navigate__icon_no-active {
}
