.properties_lateral {
	width: 300px;
	background-color: #bebebe;
	padding: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.properties__container {
	flex: 0 0 300px;
	margin-left: 20px;
	display: none;
}
