.App {
	box-sizing: border-box;
	padding: 0 10px;
}

.main-content {
	text-align: center;
	padding: 20px;
	display: flex;
	justify-content: center;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
	background-color: #f9f9fd;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
}

* {
	scrollbar-width: thin;
	scrollbar-color: #9ec0db #f9f9fd;
}
