.logo {
  text-decoration: none;
	color: #000;
	padding: 10px 20px 10px 20px;
	border-radius: 4px;
	background-color: #C3BEFF;
	border: none;
  font-style: normal;
  font-weight: 400;
	font-size: 16px;
	letter-spacing: -0.24px;
  margin: 0;
}