.computer-restrictions {
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.computer-restrictions__title {
	margin: 0 10% 0 10%;
	padding: 0;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.38px;
	color: #2b2b2e;
	text-align: center;
}

.computer-restrictions__text {
	margin: 10px 10% 0 10%;
	padding: 0;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: #2b2b2e;
	text-align: center;
}

.computer-restrictions__image {
	width: 100%;
	min-width: 325px;
	min-height: 217px;
}

@media screen and (max-width: 1279px) {
	.computer-restrictions {
		display: flex;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: white;
		z-index: 10;
	}
}
