.header {
	display: flex;
	justify-content: space-between;
	padding-left: 64px;
	padding-top: 40px;
	padding-right: 64px;
	align-items: center;
}

.header_section_main {
	padding-left: 165px;
	padding-right: 165px;
}

.header__column {
	display: flex;
	gap: 20px;
}

.header__nav {
	display: flex;
	align-items: center;
	gap: 20px;
	margin: 0;
	list-style-type: none;
	padding: 0;
	height: 100%;
}

.header__link {
	text-decoration: none;
}

.header__item {
	text-decoration: none;
	color: #000;
	padding: 12px 20px 12px 20px;
	border-radius: 4px;
	background-color: #dbe5f2;
	border: none;
	font-size: 16px;
	letter-spacing: -0.24px;
	box-sizing: border-box;
	height: 44px;
}

.header__item_active {
	border: 1px solid var(--text-100, #2b2b2e);
	background-color: #c3beff;
}

.header__item:hover {
	cursor: pointer;
	opacity: 0.7;
}

.header__logo {
	height: 59px;
	align-self: center;
}

.header__item_color_yellow {
	background-color: #e9f993;
}

.header__profile {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__avatar {
	border-radius: 100px;
	border: 1px solid var(--text-100, #2b2b2e);
	background: var(--primary, #c3beff);
}

.header__exit-button {
	background-color: rgb(2, 2, 2, 0);
	border: none;
	cursor: pointer;
	color: var(--text-100, #2b2b2e);
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.24px;
	display: flex;
	padding: 10px 20px;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
