.search-panel {
    position: relative;
    display: flex;
    align-items: center;
    padding: 24px 24px 20px 20px;
}

.search-panel__search-input {
    width: 250px;
    height: 32px;
    border-radius: 16px;
    background: #FFFFFF;
    padding: 0 0 0 40px;
    border: 1px solid #959596;
}

.search-panel__search-input::placeholder {
    font-family: Wix Madefor Display, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.42px;
}

.search-panel__search-button {
    position: absolute;
    display: flex;
    background: none;
    border: none;
    padding: 0 0 0 8px;
    cursor: pointer;
}

.templates-image__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    column-gap: 24px;
    row-gap: 20px;
}

.templates-image {
    padding: 0 20px 20px 20px;
}

.templates-image__img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
