.elements-panel {
    max-width: 288px;
    padding: 0 20px;
}

.elements-panel__block-download {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.elements-panel__paragraph {
    width: 256px;
    padding: 10px 16px;
    margin: 0;
    color: #2B2B2E;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.24px;
}

.elements-panel__btn-download {
    border-radius: 16px;
    border: 1px solid #2B2B2E;
    background: none;
    display: flex;
    padding: 12px 24px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.elements-panel__input {
    display: none;
}

.elements-panel__loading-file {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.elements-panel__wrapper {
    position: relative;
    max-width: 124px;
    max-height: 124px;
}

.elements-panel__loading-img {
    width: 100%;
    height: 100%;
}

.elements-panel__square {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.elements-panel__wrapper_size {
    max-width: 135px;
    max-height: 196px;
}

.elements-panel__loading-file_gap {
    gap: 0;
}

.elements-panel__square_margin {
    top: 8px;
    left: 8px;
}
