.certificate {
	position: relative;
	display: flex;
	max-width: 600px;
	max-height: 850px;
	margin: 0 auto;
}

.certificate__container {
	display: flex;
}

.certificate__image {
	max-width: 100%;
	height: auto;
}

.certificate__text-field {
	position: absolute;
	box-sizing: border-box;
	max-width: 100%;
	max-height: 200px;
	top: 50%;
	left: 50%;
}

.certificate__input {
	max-width: inherit;
	max-height: inherit;
	min-width: 209px;
	background: none;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
}

.certificate__text-paragraph {
	cursor: text;
	margin: 0;
	text-wrap: normal;
	overflow-wrap: anywhere;
}
