.footer {
	padding: 80px 164px 80px 124px;
	background-color: #dbe5f2;
	/* border-radius: 25px 25px 0 0; */
}

.footer__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

.footer__column {
	display: flex;
	flex-direction: column;
	gap: 13px;
	/*align-items: flex-start;*/
}

.footer__info {
	margin-left: 16px;
}

.footer__text {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 1px;
	margin: 0;
}

.footer__text_margin_bottom {
	margin-bottom: 10px;
}

.footer__list {
	list-style: none;
}

.footer__link {
	text-decoration: none;
}
.footer__item {
	align-self: center;
	margin-bottom: 8px;
}

.footer__link-img {
	width: 24px;
	height: 24px;
	vertical-align: -5px;
}

.footer__link-text {
	color: #2b2b2e;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 1px;
	margin: 0;
	margin-left: 8px;
	text-align: center;
}
