.promo {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 107px;
}

.promo__title {
	text-align: center;
	max-width: 1110px;
	font-size: 96px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}

.promo__link {
	text-decoration: none;
}

.promo__image {
	width: 196px;
	height: 123px;
	border-radius: 8px;
	/*border: 0.5px solid #959596;*/
	margin-left: 16px;
	margin-right: 16px;
	vertical-align: -35px;
}
.promo__image:first-of-type {
	border: none;
}

.promo__button {
	border-radius: 12px;
	background-color: #e9f993;
	border: none;
	font-size: 24px;
	font-weight: bold;
	width: 451px;
	height: 66px;
	padding: 0;
	margin-top: 40px;
}

.promo__button:hover {
	cursor: pointer;
	opacity: 0.7;
}
