.landing-samples {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
}

.landing-samples__title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.landing-samples__description {
    text-align: center;
    max-width: 637px;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    padding-top: 16px;
}

.landing-samples__container {
    display: flex;
    padding-top: 20px;
}

.landing-samples__image {
    display: inline-block;
    box-sizing: border-box;
    width: 357px;
    height: 220px;
    border-radius: 12px;
    margin-left: 20px;
}

.landing-samples__link {
    text-decoration: none;
}

.landing-samples__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 208px;
    height: 66px;
    padding: 0;
    margin-top: 20px;
    border-radius: 12px;
    border: none;
    background-color: rgba(195, 190, 255, 0.61);
    font-size: 24px;
    color: #574FB4;
}

.landing-samples__item {
    margin-left: 8px;
}

/*.landing-samples__item:hover {
    position: relative;
    right: -8px;
    transition: right 0.2s ease 0s;
}*/

.landing-samples__image:first-of-type {
    margin-left: 0;
}

.landing-samples__button:hover {
    cursor: pointer;
	opacity: 0.7;
}