.filter {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 14px;
	padding-top: 20px;
}

.filter__checkbox {
	border-radius: 50%;
	width: 32px;
	height: 32px;
	border: 0;
	display: block;
	box-sizing: border-box;
}

.filter__title {
	font-family: Wix Madefor Display;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 1px;
}

.filter__container {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.filter__checkbox_checked {
	border: 3px solid black;
}

.filter__button-add {
	background-image: url('../../../images/IconsAddingColor.svg');
	background-position: center;
	background-size: auto;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	box-shadow: none;
	box-sizing: border-box;
}

.filter__button-add:hover,
.filter__checkbox_checked:hover,
.filter__checkbox:hover {
	cursor: pointer;
	opacity: 0.7;
}

.filter__hidden-checkbox {
	visibility: hidden;
}
