/* Vendor */
@import url('./vendor/normalize.css');

/*!* Fonts *!*/
@import url('./vendor/fonts/fonts.css');

/* App */
@import url('./components/App/App.css');

/* CertificateEditor */
@import url('./components/CertificateEditor/CertificateEditor.css');

/* TextBlock */
@import url('./components/TextBlock/TextBlock.css');

/* Signature */
@import url('./components/Signature/Signature.css');

/* StylePropertiesPanel */
@import url('components/StylePropertiesPanel/StylePropertiesPanel.css');

/* LateralPropertiesPanel */
@import url('components/LateralPropertiesPanel/LateralPropertiesPanel.css');

/* FioTable */
@import url('./components/FioTable/FioTable.css');

/* Stamp */
@import url('./components/Stamp/Stamp.css');

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Wix Madefor Display', 'Inter', 'Times New Roman', Times, serif;
	font-style: normal;
	font-weight: 400;
}
